<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archivos</title>
    {% load static %}      
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}"/> 
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#";">Votan</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home">Inicio</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link">{{ user.carne }}
                  <img class="img" src="{% static 'images/' %}{{ selected_image }}" alt="Imagen seleccionada" style="width: 1.5rem; ">
                </a>
                </li>
                <li class="nav-item"><button class="btn btn-outline-success" type="submit" style="background-color: #A0FE73; border-color: #A0FE73;">Exportar Usuario</button></li>
              </ul>

            </form>
          </div>
        </div>
      </nav>
      <main>
        <div class="container">
          {%if votan%}
          <form method="POST" action="{% url 'subir_archivos' %}" enctype="multipart/form-data">
            {% csrf_token %}

          
                <!-- Modal -->
          <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #A0FE73; border-color: #A0FE73;">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-upload" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
              <path d="M7 9l5 -5l5 5" />
              <path d="M12 4l0 12" />
            </svg>
            
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg"> <!-- Agrega la clase "modal-lg" para hacer el modal más grande -->
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Subir Archivo</h1>
                  
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <input class="form-control" type="file" id="formFile" name="up_archivo">
                  <input hidden name="token" value="{{token}}">
                  <input hidden name="filepaths" value="{{filepaths}}">
                </div>
                <div class="modal-footer">
                  <button class="btn btn-outline-success" type="submit" >
                    Subir Archivo
                  </button>
                </div>
              </div>
            </div>
          </div>





          
          </form>
          {%endif%}
            <table class="table caption-top">
                
            <caption> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-folder" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#597e8d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 4h4l3 3h7a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2" />
              </svg>Archivos del curso</caption>
            <thead>
                <tr>
                  <th scope="col">Archivo</th>
                  <th scope="col">Descarga</th>
                </tr>
            </thead>

            <form method="POST" action="{% url 'descargar_archivos' %}" >

                
                {% csrf_token %}
                {% for filename in filenames %}
                
                  {% if forloop.counter0 == index %}
                    {{ filename }}
                  {% endif %}
            
 
                        <tbody>
                          <tr>
                            <td>{{ filename }}</td>


                      
               
                {%endfor%}
                {% for filepath in filepaths %}
                            <td><button class="btn btn-outline-success" type="submit" name="archivo" value="{{ filepath }}" style="background-color: #A0FE73; border-color: #A0FE73;"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#597e8d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                                <polyline points="7 11 12 16 17 11" />
                                <line x1="12" y1="4" x2="12" y2="16" />
                              </svg></button></td>
                          </tr>
                {%endfor%}
                </tbody>
                </table>
                
              </form>
            
        </div>
      </main>
</body>
</html>