<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Votacion</title>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}"/> 
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#";">Votan</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home">Inicio</a>
              </li>

            </ul>
            <form class="d-flex" role="search">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link">{{ user.carne }}
                  
                </a>
                </li>
               
              </ul>

            </form>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <section class="col-md-3" >
            <form action="{% url 'crear_votacion_mult'%}" method="post">
                {% csrf_token %}
                <span>Nombre:</span><br>

                <input name='nombre_encuesta' type="text"><br>
                <span>Pregunta:</span><br>
                <input name='question' id='question' type="text">
                <input name='token' value="{{token}}"hidden><br><br>
                
                <span><strong>Opciones</strong></span><br><br> Opcion 1: <br>
                <input name='answer01' id='answer01' type="text"> <br>  Opcion 2:<br>
                <input name='answer02' id='answer02' type="text"> <br> Opcion 3:<br>
                <input name='answer03' id='answer03' type="text"> <br> Opcion 4:<br>
                <input name='answer04' id='answer04' type="text"> <br> Opcion 5:<br>
                <input name='answer05' id='answer05' type="text"> <br> 
                <br>
                <button type="submit" class="btn btn-outline-success" style="background-color: #A0FE73; border-color: #A0FE73;"> Crear</button>
            </form>
            </section>
        </div>
      </div>
        

</body>
</html>