<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/styles.css'%}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}"/> 
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
    <title>Crear Curso</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#";">Votan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
          </li>

          
        </ul>
        <form class="d-flex" role="search">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link">{{ user.carne }}
              <img class="img" src="{% static 'images/' %}{{ selected_image }}" alt="Imagen seleccionada" style="width: 1.5rem; ">
            </a>
            </li>
            <li class="nav-item"><button class="btn btn-outline-success" type="submit" style="background-color: #A0FE73; border-color: #A0FE73;">Exportar Usuario</button></li>
          </ul>
          
        </form>
      </div>
    </div>
  </nav>
    <main>
      
    </main>
    <div class="container">
      <section class="content">
        <h1>Crear Curso</h1>

        <form action="{% url 'registrar_curso'%}" method="post">
            {% csrf_token %}
            <label> Nombre del Curso: </label><br>
            <input type="text" id="nombre_curso" name="nombre_curso"><br>
            <label> Grupo: </label><br>
            <input type="text" id="grupo_curso" name="grupo_curso"><br>
            <label> Carrera: </label><br>
            <input type="text" id="carrera_curso" name="carrera_curso"><br><br>

            <label> <ins>Al crear el curso se le asignara un Token, con este token podra invitar a usuarios a unirse a este curso.</ins> </label><br>
            <label> <ins>Debido a que creaste el curso seras asignado como Votan de manera automatica. </ins></label><br>
            <input type="hidden" name="votan_curso" value="{{user.carne}}"><br>
            
          <button type="submit" style="margin-right: 10;">
              
              Crear Curso
          </button>
        </form>
      </section>
    </div>
   
</body>
</html>