<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Foro</title>
    {% load static %}      
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}"/> 
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>

</head>
<style>
.btn-custom {
  background-color: #A0FE73;
  color: black; /* Cambia el color del texto si lo deseas */
}
</style>

<body>
      <button class="toggle-button btn btn-primary btn-custom" onclick="history.back()">Devolverse</button>
      <main>  
        {% if mensaje%}
        <div class="alert alert-success">
          {{ mensaje }}
        </div>
        {% endif %}
        <div class="row justify-content-center">
          <div class="col-md-6" style="display: block; margin-left: 3rem;">
            <h1>Crear Foro</h1>
            <span>Se va a crear un foro para el siguiente curso</span>
            <form action="{% url 'crear_foro'%}" method="post">
              {% csrf_token %}
              <input style="display: block;" id="token" name="token" value="{{token}}" hidden></input>
              <span style="font-weight: bold; display: block;">Título del foro</span>
              <input type="text" id="titulo_foro" name="titulo_foro">
              <input type="hidden" name="creador_foro" value="{{ usuario.carne }}">
              <span style="font-weight: bold; display: block;">Comentario</span>
              <textarea type="text" style="height: 10rem; width: 30rem;" id="comentario" name="comentario"></textarea>
              
              <button class="btn btn-outline-success" type="submit" style="background-color: #A0FE73; border-color: #A0FE73;" >Crear Foro</button>
              </form>
              </div>
              </div>
              </main>
              </body>
              </html>