<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso</title>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/styles.css'%}"/>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}"/> 
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#";">Votan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
          </li>
          {% if usuario.carne == curso.votan  %} <! ––« Verificacion si el carne del usuario es el mismo del votan con esto se activan las funciones adicionales«––>
          <li class="nav-item">
            <a class="nav-link" href="upload" target="_blank">Reportes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'evaluaciones' %}?token={{ token }}">Asignaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="crear_foro" target="_blank">Crear Foro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'crear_eval' %}?token={{ token }}">Crear Evaluación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'calificar_eval' %}?token={{ token }}">Calificar Evaluación</a>
          </li>
          
         
         
          
          
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'evaluaciones' %}?token={{ token }}">Asignaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cargar_archivo" target="_blank">Material</a>
          </li>
         
          
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'archivos_Cursos' %}?token={{ token }}">Archivos</a> 
          </li>
        </ul>
        <form class="d-flex" role="search">
          <ul class="navbar-nav 1-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link">{{ usuario.carne }}
              <img class="img" src="{% static 'images/' %}{{ selected_image }}" alt="Imagen seleccionada" style="width: 1.5rem; ">
            </a>
            </li>
          </ul>
          

      <button type="button"  class="btn btn-outline-success" style="background-color: #A0FE73; border-color: #A0FE73;"data-bs-toggle="modal" data-bs-target="#exampleModal">
        Exportar
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"> <!-- Agrega la clase "modal-lg" para hacer el modal más grande -->
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Token del Curso</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              El siguiente Token se puede utilizar para registrarse en el curso.<br> Ten cuidado con quien lo compartes. <br> <br>
              <strong>{{token}}</strong>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Listo</button>
            </div>
          </div>
        </div>
      </div>
          
        </form>
      </div>
    </div>
  </nav>  


    <header>

      
    </header>
    
    <div class="row justify-content-center" style="display:flexbox">
      <div class="text">
        {{ usuario.carne }}
        <img class="img" src="{% static 'images/' %}{{ selected_image }}" alt="Imagen seleccionada" style="width: 2rem; ">
      </div>
      <div id="carnet">{{user.name}}</div>
      <div id="carnet">{{user.carne}}</div>
      <div id="carnet">Nombre del Curso: {{curso.nombre_curso}}</div>
      {{curso.votan}}
      
    </div>
    {% if mensaje%}
      <div class="alert alert-info">
        {{ mensaje }}
      </div>
    {%endif%}
    <section>
      <nav>
        <a href="sync_data">Sincronizar</a>
        <ul>
          <li><a href="crear_foro">Crear Foro</a></li>
          <li><a href="">Exportar Curso</a></li>
        </ul>
      </nav>
      
      <article>
        <h2>foros Disponibles:</h2>
        <div>
          {% for clave, valor in datos.items %}
          <section class="forum_select">
            <div class="forum_box">
              
              <svg style="padding:center;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school" width="150" height="150" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2D459B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
              </svg>
              <span>{{ valor.name }}</span>
            </div>
          </section>  
          {% endfor %}
        </div>
        <br></br>
    

    </body>
</html>