<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    {% load static %}  

    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}"/> 
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <section class="error_container">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-exclamation-circle" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M12 9v4" />
                        <path d="M12 16v.01" />
                    </svg><br>
                    <span>{{mensaje}}</span> <br><br>
                    <button class="btn btn-outline-success" style="background-color: #A0FE73; border-color: #A0FE73" onclick="goBack()">Volver</button>
                </section>
            </div>
        </div>
      </div>
    
</body>
<script>
    function goBack() {
      history.back();
    }
</script>
</html>