<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluaciones</title>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}"/> 
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
</head>
<body>
  <button class="toggle-button btn btn-primary btn-custom" onclick="history.back()">Devolverse</button>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#";">Votan</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Crear Curso</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <ul class="navbar-nav 1-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link">{{ user.carne }}
                  <img class="img" src="{% static 'images/' %}{{ selected_image }}" alt="Imagen seleccionada" style="width: 1.5rem; ">
                </a>
                </li>
                <li class="nav-item"><button class="btn btn-outline-success" type="submit" style="background-color: #A0FE73; border-color: #A0FE73;">Exportar Usuario</button></li>
              </ul>
              
            </form>
          </div>
        </div>
      </nav>
      <main>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>Evaluaciones</h1>
                <div class="accordion" id="accordionExample">
                {%for i in evaluaciones%}
                    
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
                            
                            <span>{{i.nombre}} <span style="font-weight: bold;">{{i.porcentaje}}%</span></span>
                         
                        </button>
                        </h2>
                        <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="heading{{forloop.counter}}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Fecha de Entrega: {{i.fecha}} </strong>
                            <form method="POST" action="{% url 'evaluaciones' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Subir Evaluacion</label>
                                    <input class="form-control" type="file" id="formFile" name="archivo">
                                </div>
                            <span style="display:block;font-weight: bold;"> Detalles:  </span>
                            <span style="display: block;">{{i.detalles}}.  </span>
                            
                            {% for estudiante, nota in i.calificaciones.items %}
                                
                            {% if usuario.carne == estudiante %}
                                <span style="font-weight: bolder;">Estado: </span>
                                <span style="color: #57af2e; font-weight: bolder;">Respuesta Enviada</span>
                                
                                <span style="display:block;font-weight: bold;"> Nota Obtenida: </span>
                                {%if nota == None%}
                                <span style="display:block;">No calificado</span>
                                {%else%}
                                <span style="display:block;">{{nota}}</span>
                                {%endif%}
                                
                            {% endif %}
                            

                            {%endfor%}

                            <input name="token" value="{{token}}" hidden>
                            <input name="user" value="{{usuario.carne}}" hidden>
                            <input name="evaluacion" value="{{i.nombre}}" hidden>
                            
                            <button type="submit"  class="btn btn-outline-success" style="background-color: #A0FE73; border-color: #A0FE73; margin-top: 1rem;">Subir Respuesta</button>
                            
                                    
                            </form>
                        </div>
                        </div>
                    </div>
                {%endfor%}
                
                </div>
            </div>
        </div>
      </main>
</body>
</html>