<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    {% load static %}  
   
    <title>Inicio</title>
    
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}"/> 
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#";">Votan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/crear_curso">Crear Curso</a>
          </li>
          
          
        </ul>
        <form action="{% url 'sincronizar'%}" method="post" class="d-flex" role="search">
          {% csrf_token %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link">{{ user.carne }}
              <img class="img" src="{% static 'images/' %}{{ selected_image }}" alt="Imagen seleccionada" style="width: 1.5rem; ">
            </a>
            </li>
            <li class="nav-item"><button class="btn btn-outline-success" type="submit" style="background-color: #A0FE73; border-color: #A0FE73;">Sincronizar</button></li>
          </ul>
          
        </form>
      </div>
    </div>
  </nav>
  <main>
    {% if mensaje%}
    <div class="alert alert-info">
      {{ mensaje }}
    </div>
    {%endif%}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col"></div>
        <div class="col-md-6">
            <div class="courses">
              <div>
                <h1 style="font-size: larger;">Cursos Matriculados</h1>
                <ul>
                  
                </ul>
                
              </div>

              
              <form action="{% url 'curso'%}" method="post">
                {% csrf_token %}
                {% for clave, valor in datos.items %}
                    {% for i in valor.miembros %}
                        {% if user.carne == i %}
                          <button type="submit" class="course_box" name="token" value="{{ valor.token_curso }}">
                            <div class="content">
                              <svg style="padding:center;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school" width="120" height="120" viewBox="1 1 22 20" stroke-width="1.5" stroke="#2D459B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                                <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
                              </svg> 
                              <span>{{ valor.nombre_curso }}</span>
                            </div>
                            
                          </button>
                        {% endif %}
                    {% endfor %}
                
                      
             
                  
                {% endfor %}
              </form>
            </div>
          <div class="section_Token">
            <h2 style="font-size: larger;">Unirse a un curso</h2>
            <form action="{% url 'home'%}" method="post">
              {% csrf_token %}
              <span style="font-weight: bold;">¿Quieres unirte a un curso?</span> <br/>
              <span>Inserta el Token del curso para ingresar</span><br/>
              <input name="token">
              <button class="btn btn-outline-success" type="submit" style="background-color: #A0FE73; border-color: #A0FE73;">Ingresar Token</button> 

            </form>
          </div>  
        </div>
        <div class="col"></div>
      </div>
    </div>
  </main>
</body>
</html>