<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>

    

    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/styles.css'%}"/>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}"/> 
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#";">Votan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>
        <form action="{% url 'descargar_usuario' %}" method="post">
          {% csrf_token %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item"><button class="btn btn-outline-success" type="submit" style="background-color: #A0FE73; border-color: #A0FE73;">Exportar Usuario</button></li>
          </ul>
          
        </form>
        <!-- Botón para abrir el modal -->
        <button type="button" class="btn btn-outline-success" style="margin-left: 0.5rem; background-color: #A0FE73; border-color: #A0FE73;" data-bs-toggle="modal" data-bs-target="#modalSubirArchivo">
          Importar Usuario
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modalSubirArchivo" tabindex="-1" aria-labelledby="modalSubirArchivoLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalSubirArchivoLabel">Importar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Formulario de subida de archivo -->
                <form action="{% url 'importar_usuario' %}" id="formularioSubirArchivo" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="file" name="archivo" class="form-control-file">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" form="formularioSubirArchivo" class="btn btn-primary">Importar Usuario</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
        <main>
            <section class="welcome_container">
                <h1 style="color:#2D459B">Bienvenido a P2PEduApp</h1>
                <span class="text">
                    {% if user.name %}
                    <img src="{% static 'images/' %}{{ image_name }}"alt="Icon" style="width: 100px;">
                    {{ user.name }}

                      <span class="text">
                        {% if user.name %}
                        {{ user.carne }}
                        {% endif %}
                    </span>
                    <div>
                      <form style="margin-right: 10;" action="{% url 'home'%}" method="post">
                        <button type="submit" class="boton">
                            {% csrf_token %}
                            Ingresar
                        </button>
                    </form>
                    </div>
                    
                    
                    {%else%}
                    <span>Registrate para poder hacer uso de todas las funcionalidades.</span>
                    <form style="margin-right: 10;" action="{% url 'crear_usuario'%}" method="get">
                      <button type="submit" class="boton">
                          {% csrf_token %}
                          Registrarse
                      </button>
                  </form>
                    {% endif %}
                </span>

                
                  
            </section>


        </main>
        
</body>
</html>